{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}
    {% for year, months in content %}
    <li>{{year}}</li>
    <ul>
        {% for month, articles in months %}
        <li>{{month}}</li>
        <ul>
            {% for article in articles %}
            <li>{{article.createdAt|date('d')}}: <a href="{{path('victoire_core_page_show', {'url': article.url})}}">{{article.title}}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock content %}


